body {
    padding: 0;
    margin: 0;
}

// mobile menu start
.mobile-menu {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: $orange;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;

    .mobile-menu__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;

        .mobile-menu__icon {
            display: block;
            position: relative;
            background: white;
            width: 90%;
            height: 4px;
            transition: .4s;

            &::after {
                content: "";
                display: block;
                position: absolute;
                background: white;
                width: 100%;
                height: 4px;
                transition: .4s;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                background: white;
                width: 100%;
                height: 4px;
                transition: .4s;
            }

            &::after {
                top: 8px;
            }

            &::before {
                top: -8px;
            }
        }
    }

    .mobile-menu__container {
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 999;
        height: 0;
        opacity: 1;
        transition: .5s;
        overflow: hidden;
        background-color: $orange;

        .mobile-menu__list {
            transition: .5s;
            list-style: none;
            padding-left: 0;
            margin-top: -50px;

            .mobile-menu__item {
                font-size: 26px;
                padding-bottom: 15px;

                .mobile-menu__link {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .mobile-menu__checkbox {
        display: none;

        &:checked ~ .mobile-menu__nav {
            opacity: 1;
        }

        &:checked ~ .mobile-menu__container {
            height: 100%;
        }

        &:checked ~ .mobile-menu__btn .mobile-menu__icon {
            background: transparent;
        }

        &:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
            top: 0;
            transform: rotate(45deg);
        }

        &:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
            top: 0;
            transform: rotate(-45deg);
        }

    }

    @media (max-width: 812px) and (max-height: 375px) and (orientation: landscape) {
        display: flex;
    }

    @media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
        display: flex;
    }

    @media (max-width: 736px) and (orientation: landscape) {
        display: flex;
    }

    @media (max-width: 536px) {
        display: flex;
    }
}
// mobile menu end

// push settings
.pushy-open-right {

    .pushy {
        background-color: $blue;
        z-index: 99999;

        .pushy-content {
            margin-top: 75px;

            ul {
                list-style: none;
                padding-inline-start: 1rem;

                li {
                    outline: none;

                    a {
                        color: #fff;
                    }
                }

                button:focus {
                    outline: none
                }
            }
        }
    
        @media (max-width: 812px) and (height: 375px) and (orientation: landscape) {
            width: 412px;
        }

        @media (max-width: 768px) and (height: 1024px) and (orientation: portrait) {
            width: 368px;
        }

        @media (max-width: 736px) and (orientation: landscape) {
            width: 336px;
        }
    
        @media (max-width: 536px) {
            width: 100%;
        }
    }
}

.pushy-submenu > a::after, .pushy-submenu > button::after {
    background: url(../img/arrow.svg);
}
// push settings end

// modal settings
.modal {
    z-index: 99999;
    .modal-content {
        border: none;

        .modal-header {

        }

        .modal-body {

        }

        .modal-footer {

        }

        @media (max-width: 812px) and (height: 375px) and (orientation: landscape) {
            margin-top: 75px;
        }

        @media (max-width: 736px) and (orientation: landscape) {
            margin-top: 75px;
        }

        @media (max-width: 536px) {
            margin-top: 75px;
        }
    }
}
// modal settings end

// preloader
#preloader {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;

    #loader {
        display: flex;
        max-width: 300px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
// preloader end